{% extends 'baseContact.html.twig' %}

{% block main %}
    <h1>Bonjour,</h1>
    <p>Vous avez reçu un nouveau mail de {{contactDTO.name}} {{contactDTO.firstname}} depuis le formulaire de contact du site reseauh10.fr .</p>
    <p>Voici son contenu :</p>

    <p>{{contactDTO.message}}</p>

    <p>Vous pouvez le joindre ici :</p>
    <p>{{contactDTO.mail}}</p>
    <p>{{contactDTO.phone}}</p>
{% endblock %}